fastapi==0.115.5
uvicorn[standard]==0.32.1
finrl==0.3.7
stable-baselines3==2.7.0
torch==2.8.0
gymnasium==1.1.1
matplotlib==3.9.4
pandas==2.2.3
numpy==2.0.2
yfinance==0.2.66
stockstats==0.6.5
exchange-calendars==4.5.6
wrds==3.4.0
alpaca-trade-api==3.1.0
